i.fa-solid.fa-star#category_star(class="prio" + prio style="font-size: 14px" title="Bearbeiten" onclick="toggleCategoryPrio()")
span#category_name(style="margin-left: 5px; margin-right: 5px") #{name}
i.fa.fa-pencil(title="Bearbeiten" style="font-size: 14px" onclick="renameCategoryPanel()")
input#category_id(type="hidden" value=id)