
#category_head

  #flex_left
    i.fa-solid.fa-star#category_star(class="prio" + prio style="font-size: 14px" title="Priorität bearbeiten" onclick="toggleCategoryPrio()")

  #category_name(onclick="renameCategoryPanel()") #{name}

  #flex_right
   

  input#category_id(type="hidden" value=id)
