div.prod(id="prod" + item.id)
  .box
    .single_right
      button.darkgrey(title="Produktdetails bearbeiten" onclick="toggleDetails('" + item.id + "')")
          i.fa.fa-caret-down(aria-hidden="true")
          
    h2(style="text-align: left; padding-left: 5px") 
      i.fa-solid.fa-circle(style="font-size:14px;color: " + item.state)

      span(id="name" + item.id title="Produkt bearbeiten" style="margin-left: 5px; margin-right: 5px" onclick="renameProduct('" + item.id + "')") #{item.name}
      
      span(style="font-weight: normal;float: right; padding-right: 5px;font-size: 16px") Bestand: 
        span(id="sum" + item.id) #{item.sum || 0}
