form(id="loginForm")
  div(style="margin-left: auto;margin-right: auto; margin-top: 50px;")
    table(style="margin: auto; border-collapse: collapse;")
      tr(style="height: 50px")
        th(colspan="2") 
          if (first_login)
            p Bitte registrieren:
          else
            p Bitte anmelden:
      tr(style="height: 48px")
        td
          label(for="username") Name:
        td
          if (first_login) 
            input(type="text" id="username" name="username" value="", required)
          else
            input(type="text" id="username" name="username" value="", required)
      tr(style="height: 48px")
        td 
          label(for="password") Passwort:
        td
          input(type="password" id="password" name="password" value="", required)

      if (first_login)
        tr(style="height: 48px")
          td 
            label(for="password2") Passwort bestätigen:
          td
            input(type="password" id="password2" name="password2" value="", required)
      tr(style="height: 48px")
        td(colspan="2")
          button_breit.orange(type="submit" onClick="login(" + first_login + ")") Anmelden
      
