form(id="loginForm")
  .app
    div(style="margin-left: auto;margin-right: auto;")
      table(style="margin: auto; border-collapse: collapse;")
        tr(style="height: 50px")
          th(colspan="2") Bitte anmelden:
        tr(style="height: 40px")
          td
            label(for="username") Name:
          td
            input(type="text" id="username" name="username" value="", required)
        tr(style="height: 40px")
          td 
            label(for="password") Passwort:
          td
            input(type="password" id="password" name="password" value="", required)
        tr(style="height: 40px")
          td(colspan="2")
            button_breit.orange(type="submit" onClick="login()") Anmelden
