extends ../../templates/base

block content

  #transparent(onclick="hideDropdownMenu()")

  .app
    input(type="hidden" id="category_id" value=data.category.id)
    #header
      .single_left 
        img(src="/mhd.png" width=52 height=52 alt="Logo")
      .single_right#dropdown
        button.darkgrey(onClick="showDropdownMenu()")
          i.fa.fa-bars(aria-hidden="true")
        #dropdown-content
          - for(let item of data.allCategories)
            p(onClick="getCategory(" + item.id + ")" title="Auswahl der Category" style="padding: 10px; margin:5px") #{item.name}
          p(style="background-color: lightgrey; padding: 10px; margin:5px") Neue Kategorie: 
            span(id="pencil" title="Bearbeiten" style="color:grey;padding: 10px; margin:5px; font-size: 14px" onclick="new_category()") 
              i.fa.fa-pencil

      .single_right
        button.orange(title="Neues Produkt hinzufügen" onclick="newProdukt()")
          i.fa-solid.fa-square-plus
          
      h1#category_name #{data.category.name}
        span(id="pencil" title="Bearbeiten" style="color:grey;padding: 10px; margin:5px; font-size: 14px" onclick="edit_category()") 
          i.fa.fa-pencil

    #prodlist
      - for(let item of data.products)
        .prod(id="prod" + item.id index=item.id)

  script(type='text/javascript').
    appReady();
