
#category_list

  - for(let item of allCategories)
  
    p.white(onClick=func + "Category(" + item.id + ")" title="Kategorie auswählen")
      i.fa-solid.fa-star(style="font-size: 12px" class="prio" + item.prio)
      span #{item.name}