
#category_head.pointer(title="Kategorie bearbeiten"  onclick=`editCategoryPanel('${name}', '${prio}')`)
  
  #flex_left
    i.fa-solid.fa-star(class="prio" + prio style="font-size: 14px")

  #category_name #{name}

  #flex_right

