#header
  .left 
    img(src="/icons/suma.png" id="logo" width=52 height=52 alt="Logo" onClick="pageRefresh()")          

  .right#dropdown
    button.yellow(title="Kategorie auswählen" onClick="selectGoToCategoryPanel()")
      i.fa-solid.fa-list-ul(aria-hidden="true")

  .right
    button.orange(title="Neues Produkt hinzufügen" onclick="createProductPanel()")
      i.fa-regular.fa-square-plus(aria-hidden="true")
  
  #category_head.pointer(title="Kategorie bearbeiten" 
    onclick=`editCategoryPanel('${category.name}', '${category.prio}')`)
    
    #flex_left
      i.fa-solid.fa-star(class="prio" + category.prio style="font-size: 14px")

    #category_name= category.name
    

    #flex_right


include product_head_list   