doctype html
html(lang="en")
  head    
    meta(charset="UTF-8")

    meta(name="mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")

    meta(name="viewport" id="vp"  content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")

    title SUMA - supply management -

    link(href="/style.css" rel="stylesheet")
    link(href="/fontawesome/css/all.min.css" rel="stylesheet")

    link(rel="icon" type="image/x-icon" href="/favicon.ico")
    link(rel="icon" type="image/x-icon" href="/icons/apple-touch-icon.png")
    link(rel="apple-touch-icon" href="/apple-touch-icon.png")

    link(rel="icon" type="image/png" sizes="36x36"  href="/icons/android-icon36x36.png")
    link(rel="icon" type="image/png" sizes="48x48"  href="/icons/android-icon48x48.png")
    link(rel="icon" type="image/png" sizes="72x72"  href="/icons/android-icon72x72.png")
    link(rel="icon" type="image/png" sizes="96x96"  href="/icons/android-icon96x96.png")
    link(rel="icon" type="image/png" sizes="144x144"  href="/icons/android-icon144x144.png")
    link(rel="icon" type="image/png" sizes="192x192"  href="/icons/android-icon192x192.png")

    link(rel="apple-touch-icon" sizes="192x192" href="apple-touch-icon-precomposed.png")

    link(rel="apple-touch-icon" sizes="57x57" href="/icons/apple-touch-icon57x57.png")
    link(rel="apple-touch-icon" sizes="60x60" href="/icons/apple-touch-icon60x60.png")
    link(rel="apple-touch-icon" sizes="72x72" href="/icons/apple-touch-icon72x72.png")
    link(rel="apple-touch-icon" sizes="76x76" href="/icons/apple-touch-icon76x76.png")
    link(rel="apple-touch-icon" sizes="114x114" href="/icons/apple-touch-icon114x114.png")
    link(rel="apple-touch-icon" sizes="120x120" href="/icons/apple-touch-icon120x120.png")
    link(rel="apple-touch-icon" sizes="144x144" href="/icons/apple-touch-icon144x144.png")
    link(rel="apple-touch-icon" sizes="152x152" href="/icons/apple-touch-icon152x152.png")
    link(rel="apple-touch-icon" sizes="167x167" href="/icons/apple-touch-icon167x167.png")
    link(rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon180x180.png")

    link(rel="icon" type="image/png" sizes="16x16" href="/icons/favicon16x16.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/icons/favicon32x32.png")
    link(rel="icon" type="image/png" sizes="96x96" href="/icons/favicon96x96.png")
    link(rel="shortcut icon" href="/icons/favicon.ico")

    script(src="/app.js")

  body
    //- Hidden values
    input#category_id(type="hidden")
    input#product_id(type="hidden")

    //- Transparent pane
    #transparent(onclick="hidePanels()")

    //- New category panel
    .panel#new_category
      input#new_category_name(type="text" placeholder="Neue Kategorie" autofocus title="")
      p.orange(title="Neue Kategorie erstellen" onclick="createCategory()")
        i.fa-regular.fa-square-check(aria-hidden="true")

    //- Edit category panel
    .panel#edit_category
      input#edit_category_name(type="text" placeholder="Kategorie" autofocus title="" value=name)

      .left(style="width: 34%")
        p.lightgrey(title="Kategorie löschen" onclick="deleteCategory()")
          i.fa-solid.fa-trash-can(aria-hidden="true")

      .right(style="width: 33%")
        p.orange(title="Neuen Namen der Kategorie speichen" onclick="renameCategory()")
          i.fa-regular.fa-square-check(aria-hidden="true")

      .right(style="width: 33%")
        p.yellow(title="Priorität bearbeiten" onclick="toggleCategoryPrio()")
          i.fa-solid.fa-star#category_star(class="prio" + prio aria-hidden="true")

    //- category list panel
    .panel#select_category
      #category_list
      //- *** Inserted here: category_list.pug

      p.orange(title="Neue Kategorie" onclick="createCategoryPanel()")
        i.fa-regular.fa-square-plus(aria-hidden="true")

    //- New product panel
    .panel#new_product
      input#new_product_name(type="text" placeholder="Neues Product" autofocus title="" )
      p.orange(title="Neues Produkt erstellen" onclick="createProduct()")
        i.fa-regular.fa-square-check(aria-hidden="true")

    //- Edit product panel
    .panel(id="edit_product")
      input(id='edit_product_name' type="text" placeholder="Produktname" autofocus title="Produktname" value="")

      .left(style="margin-left: auto; margin-right: auto; width: 33%")
        p.lightgrey(itle="Gesamtes Produkt entfernen" onclick="deleteProduct()")
          i.fa-solid.fa-trash-can(aria-hidden="true")

      .left(style="margin-left: auto; margin-right: auto; width: 67%")
        p.orange(title="Neuen Namen des Produkts speichen" onclick="renameProduct()")
          i.fa-regular.fa-square-check(aria-hidden="true")

    #app
      #header
        .left 
          img(src="/icons/suma.png" id="logo" width=52 height=52 alt="Logo" onClick="pageRefresh()")          

        .right#dropdown
          button.yellow(title="Kategorie auswählen" onClick="selectCategoryPanel()")
            i.fa-solid.fa-list-ul(aria-hidden="true")

        .right
          button.orange(title="Neues Produkt hinzufügen" onclick="createProductPanel()")
            i.fa-regular.fa-square-plus(aria-hidden="true")

        #category_head
          //- *** Inserted here: category_head.pug

      #prodlist
          //- *** Inserted here: list of product_head.pug

    #login

    #message

    script(type='text/javascript').
      docReady();
