extends ../../templates/base

block content

  //- Transparent pane
  #transparent(onclick="hidePanels()")

  //- Edit category panel
  input#category_id(type="hidden")
  input#product_id(type="hidden")

  .panel#edit_category
    input#edit_category_name(type="text" placeholder="Kategorie" autofocus title="" value=name)

    .left(style="width: 34%")
      p.lightgrey(title="Kategorie löschen" onclick="deleteCategory()")
        i.fa-solid.fa-trash-can(aria-hidden="true")

    .right(style="width: 33%")
      p.orange(title="Neuen Namen der Kategorie speichen" onclick="renameCategory()")
        i.fa-regular.fa-square-check(aria-hidden="true")

    .right(style="width: 33%")
      p.yellow(title="Priorität bearbeiten" onclick="toggleCategoryPrio()")
        i.fa-solid.fa-star#category_star(class="prio" + prio aria-hidden="true")


  //- category list panel
  .panel#select_category
    #category_list
    //- Inserted here: category_list.pug

    p.orange(title="Neue Kategorie" onclick="createCategoryPanel()")
      i.fa-regular.fa-square-plus(aria-hidden="true")


  //- Edit product panel
  .panel(id="edit_product")
    input(id='edit_product_name' type="text" placeholder="Produktname" autofocus title="Produktname"  value="")

    .left(style="margin-left: auto; margin-right: auto; width: 33%")
      p.lightgrey(itle="Gesamtes Produkt entfernen" onclick="deleteProduct()")
        i.fa-solid.fa-trash-can(aria-hidden="true")

    .left(style="margin-left: auto; margin-right: auto; width: 67%")
      p.orange(title="Neuen Namen des Produkts speichen" onclick="renameProduct()")
        i.fa-regular.fa-square-check(aria-hidden="true")
        
  .app
    #header
      .left 
        img(src="/suma.png" width=52 height=52 alt="Logo")

      .right#dropdown
        button.yellow(title="Kategorie auswählen" onClick="selectCategoryPanel()")
          i.fa.fa-bars(aria-hidden="true")

        .panel#new_category
          input#new_category_name(type="text" placeholder="Neue Kategorie" autofocus title="")
          p.orange(title="Neue Kategorie erstellen" onclick="createCategory()")
            i.fa-regular.fa-square-check(aria-hidden="true")

      .right
        button.orange(title="Neues Produkt hinzufügen" onclick="createProductPanel()")
          i.fa-regular.fa-square-plus(aria-hidden="true")

        .panel#new_product
          input#new_product_name(type="text" placeholder="Neues Product" autofocus title="" )
          p.orange(title="Neues Produkt erstellen" onclick="createProduct()")
            i.fa-regular.fa-square-check(aria-hidden="true")

      #category_head

          //- Inserted here: category_head.pug 


    #prodlist

          //- Inserted here: product list 

  script(type='text/javascript').
    docReady();
