extends ../../templates/base

block content

  #transparent(onclick="hidePanels()")

  .app
    #header
      .left 
        img(src="/suma.png" width=52 height=52 alt="Logo")

      .right#dropdown
        button.yellow(title="Kategorie auswählen" onClick="selectCategoryPanel()")
          i.fa.fa-bars(aria-hidden="true")

        .panel#select_category
          #category_list

          //- Inserted here: category_list.pug

          p.orange(title="Neue Kategorie" onclick="createCategoryPanel()")
            i.fa-regular.fa-square-plus(aria-hidden="true")

        .panel#new_category
          input#new_category_name(type="text" placeholder="Neue Kategorie" autofocus title="")
          p.orange(title="Neue Kategorie erstellen" onclick="createCategory()")
            i.fa-regular.fa-square-check(aria-hidden="true")

      .right
        button.orange(title="Neues Produkt hinzufügen" onclick="createProductPanel()")
          i.fa-regular.fa-square-plus(aria-hidden="true")

        .panel#new_product
          input#new_product_name(type="text" placeholder="Neues Product" autofocus title="" )
          p.orange(title="Neues Produkt erstellen" onclick="createProduct()")
            i.fa-regular.fa-square-check(aria-hidden="true")

      #category_head

          //- Inserted here: category_head.pug 


    #prodlist

          //- Inserted here: product list 

  script(type='text/javascript').
    docReady();
